@font-face {
    font-family: "Ethno";
    src:url("../fonts/ethnocentric-rg.ttf") format("truetype");
    font-weight: normal;
    }
*{
    margin: 0;
    padding: 0;
    font-family: 'Ethno' ;
}
    
/* Home.jsx css */
.startW{
    min-height: 20vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startW button{
    background: #C92626;
    color: #fff;
    border: none;
    padding: 2em 1em;
    border-radius: 48px;
}
.carrousel {
    max-height: 40vh;
}
.arrow{
    
}
.container{
    max-height: 100%;
}
.container>*{
    max-height: 100%;
}

.l-arrow img, r-arrow img{
    max-height: 50%;
}