@font-face {
  font-family: 'Ethno';
  src: url('../fonts/ethnocentric-rg.ttf') format('truetype');
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Ethno';
}
:root {
  --child: 5;
}

.App,
.home {
  min-height: 100vh;
}
input,
textarea {
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
}

/* Landing page Css */
.intro {
  min-height: 100vh;
  width: 100vw;
  background: #000;
  margin: 0;
  position: relative;
  color: #fff;
}
.intro .l-i-back {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: cover;
  z-index: 0;
}
header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 2em 0;
}
header a {
  margin: 0 2em;
  list-style: none;
  line-height: 2em;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  transition: linear 0.1s;
  color: #fff;
}
header a:hover {
  transition: linear 0.1s;
  background: #3d51d6;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #fff;
}
button {
  cursor: pointer;
}

.banner {
  position: relative;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-title {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
}
.l-title h1 {
  font-size: 4em;
}
.l-t-top {
  margin: 0 0 auto auto;
  color: #376ca7;
}

.l-t-mid {
  font-size: 7em;
  margin: auto auto;
}

.l-t-bottom {
  margin: auto auto 0 0;
}

.curve {
  position: absolute;
  bottom: 0;
  /* max-height: 40vh; */
  width: 100%;
}

/* Home css */
.home {
  display: flex;
}
.mainBody {
  position: relative;
  width: 95%;
}
/* Side Bar css */
.sideBar {
  background: #000;
  min-width: 50px;
}

.min {
  transition: linear 0.4s;
  width: 5%;
}
.max {
  transition: linear 0.4s;
  width: 20%;
}

#burger {
  min-height: 10vh;
  display: flex;
  background: #3d51d6;
  cursor: pointer;
}
#burger img {
  margin: auto;
  width: 2em;
}

#side-content {
  min-height: 90vh;
  color: #fff;
}

.hide {
  display: none;
  /* opacity: ; */
  transition: linear 0.4s;
}
.show {
  display: flex;
  flex-direction: column;
}

.sideBar a {
  list-style: none;
  line-height: 2em;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.sideBar a:hover {
  background: #3d51d6;
}
/* Main.jsx css */
section {
  margin: 1em auto;
}

.startW {
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startW button {
  background: #c92626;
  color: #fff;
  border: none;
  padding: 2em 1em;
  border-radius: 48px;
}
.carrousel {
  min-height: 20vh;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.arrow img {
  opacity: 0;
  height: 3em;
}

.l-arrow img {
  transform: rotate(-90deg);
}

.r-arrow img {
  transform: rotate(90deg);
}
.carrousel-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.card {
  position: relative;
  min-height: 100px;
  width: 200px;
  background: #888;
  text-align: center;
  display: flex;
  border-radius: 13px;
  margin: 1em auto;
}
.blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 50%;
  border-radius: 13px;
  z-index: 0;
}

.card h1 {
  font-size: 1em;
  margin: auto;
  color: #fff;
  z-index: 1;
}
.c1 {
  background: url('../assets/img/w1.jpg') no-repeat;
  background-size: cover;
}
.c2 {
  background: url('../assets/img/w2.jpeg') no-repeat;
  background-size: cover;
}
.c3 {
  background: url('../assets/img/w3.jfif') no-repeat;
  background-size: cover;
}

.routine {
  width: 80%;
  margin: auto;
  min-height: 20vh;
  padding: 1em;
}
.routine-container {
  min-height: 20vh;
  position: relative;
  background: url('../assets/img/routine.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 13px;
  box-shadow: 0px 5px 5px #888;
}
.r-blur {
  background-color: #000;
  opacity: 30%;
  z-index: 1;
  cursor: pointer;
}
.routine-container:hover > .blur {
  opacity: 10%;
}
.routine a {
  z-index: 2;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.r-name {
  color: #fff;
}

/* Routine css */
.routine-list {
  width: 80%;
  margin: auto;
  position: relative;
}
.routine-cont-list {
  margin: 1em auto;
  min-width: 300px;
  width: 50vw;
  max-width: 50vw;
  height: 10vh;
  position: relative;
  display: flex;
  border-radius: 13px;
  box-shadow: 0px 5px 5px #888;
  cursor: pointer;
}
.back {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

.routine-cont-list:hover > .blur {
  opacity: 10%;
}
.float {
  z-index: 2;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* Routine Pop UP css */

.popUp {
  z-index: 3;
  margin: auto;
  background: rgba(0, 0, 0, 0.74);
  /* opacity: 60%; */
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
}

.popCard {
  width: 40em;
  min-height: 40em;
  margin: auto;
  align-self: center;
  background: #fff;
  position: relative;
}

.close {
  background: #e00;
  text-align: center;
  padding: 1em;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  cursor: pointer;
}
.close img {
  width: 100%;
  height: 100%;
}
.pophide {
  display: none;
}

.popInfo {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  text-align: center;
  height: 100%;
}

.r-l-day {
  background: #376ca7;
  color: #fff;
  padding: 2em;
}

.r-l-title {
  margin: 2em auto;
}

.r-l-arr {
  max-height: 40vh;
  overflow-y: scroll;
}

.r-l-ex {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-around;
  margin: 2em auto;
}
.r-l-start-bttn {
  text-decoration: none;
  margin: 2em auto;
  min-height: 7em;
  min-width: 7em;
  background: #c92626;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 100%;
}

/* Register css */
.rg-card {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.rg-card h3 {
  color: #fff;
  background: #000;
  padding: 0.5em 1em;
}
.rg-redirect {
  display: flex;
}

.rg-link {
  padding: 0.2em 1em;
  border: 3px solid #185488;
  width: 6em;
  text-align: center;
  margin: 1em 1em;
  background: #fff;
}
.rg-card a {
  color: #185488;
  margin: auto;
}
.separate-rg-card {
  background: #000;
  width: 60%;
  min-height: 0.2em;
  margin: 0.5em auto;
}
.rg-card form {
  margin: 0.5em auto;
}

.s-rg-f-input {
  display: flex;
  flex-direction: column;
  margin: 0.5em auto;
}
.s-rg-f-input input {
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: 0px 3px 5px #000;
  outline: none;
  padding: 0.3em;
  font-weight: bold;
  margin: auto;
}

.rg-card button {
  background: #376ca7;
  color: #fff;
  border: none;
  padding: 1em;
  font-size: 1.2em;
  margin: 1em auto;
}

/* Sign Page css */
.si-su {
  min-height: 100vh;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  align-items: center;
}

/* Sign in component css*/

.signin {
  background: #fff;
  text-align: center;
  min-width: 50vw;
  height: 100vh;
  display: flex;
}
.s-i-card {
  margin: auto;
}

.separate-s-i-card {
  background: #000;
  width: 60%;
  min-height: 0.2em;
  margin: 20px auto;
}

.s-i-f-input {
  display: grid;

  width: 80%;
  margin: 2em auto;
  align-items: center;
}

.s-i-f-input input {
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: 0px 3px 5px #000;
  outline: none;
  padding: 0.3em;
  font-weight: bold;
}

.s-i-card form button {
  background: #000;
  color: #fff;
  padding: 0.8em;
  border: none;
  border-radius: 1em;
}

/* Sign in component css*/
.signup {
  background: #000;
  color: #fff;
  text-align: center;
  min-width: 50vw;
  height: 100vh;
  display: flex;
}

.s-u-card {
  margin: auto;
}

.s-u-o {
  height: 2em;
  width: 25em;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin: 2em auto;
  border: none;
  border-radius: 1em;
  padding: 5px;
  background: #fff;
  box-shadow: 0px 0px 20px #000;
  cursor: pointer;
}
.s-u-o img {
  height: inherit;
}
.s-u-card h4 {
  text-align: left;
}

.o-google {
  background: #fff;
  color: #000;
}
.o-facebook {
  background-color: #3d51d6;
  color: #fff;
}

/* Journal css */
.journal {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}
.j-cont-name {
  margin: 1em auto;
}

.journal-container {
  width: 60%;
  margin: auto;
  box-shadow: 0 0 6px #888;
  border-radius: 13px;
}

.entry {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  font-size: 0.7em;
  min-height: 2em;
  box-shadow: 0 0 1px #888;
  text-align: center;
  cursor: pointer;
}

.entry:nth-child(2n) {
  background-color: #ddd;
}

.entry:nth-child(1) {
  border-radius: 13px 13px 0 0;
}

.entry:last-child {
  border-radius: 0 0 13px 13px;
}

.entry.selected-entry {
  background-color: #4a5ba8;
  color: #fff;
}

.pop-deletion {
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.delete-show {
  display: flex;
}
.deletion {
  text-align: center;
  background: #fff;
  border-radius: 1em;
  padding: 1em;
  margin: auto;
}
.d-d-btn {
  cursor: pointer;
  margin: 1em;
  border: none;
  padding: 0.8em 1.5em;
  font-size: 1.2em;
}
.y-delete {
  background: #c92626;
  color: #fff;
}
.n-delete {
  background: #376ca7;
  color: #fff;
}

.j-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80vw;
  height: auto;
  box-shadow: 0px 1px 5px #000;
  margin: 2em auto;
}
.j-page > * {
  margin: 10px auto;
}
.edit {
  margin: auto 2em auto auto;
  position: relative;
}
.edit-btn {
  font-size: 2em;
  cursor: pointer;
}
.edit-dropd {
  position: absolute;
  background: #fff;
  border: 1px solid #bbb;
  right: 0;
}
.edit-btn:hover > .edit-dropd {
  display: block;
}
.edit-dd {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding: 1em;
}
.edit-dd:hover {
  cursor: pointer;
}
.dd1:hover {
  color: #fff;
  background: #5d7a9b;
}
.dd2:hover {
  color: #fff;
  background: #9c6e6e;
}
.edit-dd img {
  max-width: 2em;
  margin: auto 0.3em;
}
.edit-dd p {
  margin: auto;
}
.edit-show {
  display: block;
}
.j-p-content {
  max-width: 45ch;
  text-align: start;
  padding: 0 1em;
}

.separate-j-page {
  background: #000;
  width: 60%;
  min-height: 0.2em;
  margin: 20px auto;
}

.j-cont-name,
.j-name {
  text-align: center;
}

.j-cont-add {
  text-align: center;
  width: 97%;
  margin: 1em auto;
  padding: 0.5em 0;
  border: 2px dashed #999;
  background: #ccc;
  cursor: pointer;
}

.j-cont-add img {
  max-width: 3em;
}

.j-cont-delete img {
  cursor: pointer;
  max-width: 3em;
}

/* journal pop-up */
.j-add {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.j-add-p {
  width: 80%;
  background: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
form {
  width: 100%;
}
.j-add-p form > * {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}
.j-add-p form > * > * {
  margin: 0.5em auto;
}

.j-page input {
  padding: 0.1em 0.3em;
}

.j-page textarea {
  padding: 0.5em 1em;
  outline: none;
  border: none;
  resize: vertical;
  min-width: 80%;
  min-height: 20vh;
  height: auto;
}
.j-page input,
.j-add-p-textarea {
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: 0px 3px 5px #000;
  outline: none;
}
.j-add-p-textarea {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 25vh;
  position: relative;
}
.j-add-p-textarea span {
  background: #fff;
  color: #999;
}

.j-add-p-btn {
  background: #3d51d6;
  color: #fff;
  border: none;
  font-size: 1.5em;
  padding: 0.5em 1em;
  /* border-radius: 10.1em; */
  box-shadow: 0px 3px 2px #000;
  cursor: pointer;
  margin: auto 1em;
}
.btn-save {
  background: #197c2a;
}
.btn-cancel {
  background: #aa1b13;
}
.j-add-p-btn:active {
  box-shadow: none;
}

/* Training css */
.training-container {
  position: relative;
}

.training-decision {
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
}

.show-t-d {
  display: flex;
}
.hide-t-d {
  display: none;
}
.t-d-popCard {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-d-p-button button {
  border: none;
  padding: 1em;
  color: #fff;
  border-radius: 1em;
  margin: 1em;
}

.btn-journal {
  background: #376ca7;
}
.btn-home {
  background: #c92626;
}

.training {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  min-height: 80vh;
}
.training h1 {
  font-size: 3em;
}
.t-timer,
.t-reps {
  width: 6em;
  font-size: 3em;
}
.t-timer {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  justify-content: center;
  width: 5em;
}
.training > * {
  margin: auto;
}

.training button {
  margin: auto;
  border: none;
  color: #fff;
}
.t-options {
  background: #b51e1e;
  color: #fff;
  font-size: 3em;
  min-width: 6em;
  min-height: 6em;
  border-radius: 100%;
}
.t-skip {
  background-color: #185488;
  color: #fff;
  font-size: 2em;
  min-width: 5em;
  min-height: 2em;
  border-radius: 1em;
}
.t-list {
  width: 60%;
  margin: auto;
}
.t-l-info {
  display: flex;
  margin: auto;
  font-size: 0.8em;
}
.t-l-info p:last-child {
  margin-left: 1em;
}
.t-l-array {
  margin: auto;
  box-shadow: 0 0 6px #888;
  border-radius: 13px;
}
.t-l-a-child {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr;
  align-items: center;
  font-size: 0.7em;
  min-height: 2em;
  box-shadow: 0 0 1px #888;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #999;
}

.t-l-a-child:nth-child(2n) {
  background-color: #999;
}

.t-l-a-child:nth-child(1) {
  opacity: 100%;
  border-radius: 13px 13px 0 0;
  background: #376ca7;
  color: #fff;
  box-shadow: 0 1 2 0 rgba(0, 0, 0, 1);
}

.t-l-a-child:nth-child(2) {
  opacity: 100%;
  background: #fff;
  color: #000;
}

.t-l-a-child:last-child {
  border-radius: 0 0 13px 13px;
}

.t-l-a-c-triangle {
  --triangle-size: 7px;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-top: var(--triangle-size) solid transparent;
  border-bottom: var(--triangle-size) solid transparent;
  border-left: var(--triangle-size) solid #000;
}

.t-l-a-c-text:nth-child(3) {
  text-align: left;
}

/* Browse Page css */

.browse-container {
  width: 70vw;
  margin: 2em auto;
}
.b-c-seperator {
  height: 5px;
  width: 100%;
  background: #000;
}
.b-c-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto;
  width: 90%;
}

.b-2c-card {
  min-height: 125px;
  width: 250px;
  cursor: pointer;
}
.b-2c-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.subnav {
  margin: 2em auto;
  text-align: center;
  border-bottom: 3px solid;
}
.subnav input {
  border-radius: 1em;
  padding: 0.2em 0.5em;
  border: 0.2px solid;
  width: 50%;
  outline: none;
}

.s-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em auto;
}
.s-f-seperator {
  width: 0.25em;
  display: flex;
  align-items: center;
  background: #000;
  margin: auto 0;
  height: 1em;
}
.s-filters button {
  border: none;
  background: #868686;
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  font-size: 0.7em;
}
button.s-f1-selected,
.s-f2-selected {
  background: #395faa;
}
.no-scroll {
  overflow: hidden;
}

.b-pop {
  position: fixed;
  height: 100vh;
  margin: 0;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.b-pop-show {
  display: flex;
}
.b-pop-card {
  width: 40vw;
  background: #fff;
  margin: auto;
  position: relative;
}
.b-p-c-set {
  background: #376ca7;
  color: #fff;
  padding: 2em;
  display: grid;
  grid-template-columns: 0.7fr 4fr;
  align-items: center;
}
.b-p-c-add {
  font-size: 0.6em;
  cursor: pointer;
  background-color: #fff;
  color: #376ca7;
  border-radius: 1em;
  padding: 0.5em 0;
}
.b-p-c-days {
  background: #eee;
}

.choose-days {
  display: flex;
  flex-wrap: wrap;
}
.b-p-c-d-small {
  background: #868686;
  color: #fff;
  border-radius: 1em;
  padding: 0.5em;
  font-size: 0.8em;
  margin: 1em;
}
.b-l-arr {
  max-height: 40vh;
  overflow-y: scroll;
}

.b-l-ex {
  margin: 2em auto;
}
.b-l-ex-info {
  width: 93%;
  margin: auto;
  border-bottom: 1px solid #000;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-around;
  cursor: pointer;
}
.b-l-ex-desc {
  font-size: 0.7em;
  background: #ddd;
  padding: 0.5em 1em;
  line-height: 2em;
  text-align: justify;
  width: 80%;
  margin: auto;
}
.desc-s {
  display: block;
}
.desc-h {
  display: none;
}
.b-l-ex-desc2-img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}
.b-l-ex-desc2-info {
  font-size: 0.8em;
  line-height: 2em;
  text-align: justify;
  width: 90%;
  margin: auto;
}

.small1 {
  background: #376ca7;
}
.confirm-routine {
  background: #376ca7;
  color: #fff;
  border-radius: 1em;
  padding: 0.5em;
  font-size: 0.8em;
  margin: 1em auto;
  max-width: 10em;
}
.date-s {
  display: block;
}
.date-h {
  display: none;
}

@media screen and (max-width: 862px) {
  .sideBar {
    display: none;
  }
  .mainBody {
    width: 100%;
  }
  .si-su {
    flex-wrap: wrap-reverse;
  }
  .signin,
  .signup {
    width: 100vw;
  }
  .entry {
    grid-template-columns: 1fr;
    row-gap: 1em;
    padding: 1em 0;
  }
}

@media screen and (max-width: 720px) {
  .l-title h1 {
    font-size: 2em;
  }
  .popUp {
    position: fixed;
  }
  .popCard {
    width: 80vw;
  }
}

@media screen and (max-width: 421px) {
  header {
    padding: 0;
  }
  header a {
    margin: 0;
  }
  .s-u-o {
    width: 90vw;
    text-align: center;
  }
  .s-i-f-input {
    width: 100%;
  }
  .s-i-f-input input {
    width: 90%;
    margin: auto;
  }
  .j-page input {
    width: 100%;
    width: -moz-available; /* For Mozila users */
    width: -webkit-fill-available; /* For Chrome users */
    width: fill-available;
  }
}

.custom-shape-divider-top-1642728710 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
.custom-shape-divider-top-1642728710 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
}
.custom-shape-divider-top-1642728710 .shape-fill {
  fill: #376ca7;
}
