nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: #000;
  min-height: 10vh;
}
nav > * {
  margin: auto;
}

.user {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 0.75em;
  align-items: center;
}
.profile {
  display: flex;
  align-items: center;
}
.sideBar2{
    display: none;
  }
.p-pic {
  border: 1px solid #fff;
  border-radius: 30%;
  background: #fff;
  margin: 0.1em;
}
.p-pic img {
  height: 20px;
  width: 20px;
}
.level {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.level img {
  height: 20px;
}
.header a {
  height: 50%;
}
.title {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 0.1fr 1fr;
}
.t-top {
  margin: 0 0 auto auto;
  color: #3d51d6;
}
.t-mid {
  margin: auto;
}
.t-bottom {
  margin: auto auto 0 0;
}

.toggle img {
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 1023px) {
  nav {
    grid-template-columns: 1fr;
    row-gap: 1em;
  }
  .user {
    grid-row: 2;
  }
  .title{
      display: flex;
  }
  
}
@media screen and (max-width: 862px) {
    .sideBar2{
      display: block;
      width: 100%;
      text-align: center;
    }
    .sb2-ul-close{
      display: none
    }
    .sb2-ul img{
      margin-bottom: .55em;
      height: 2em;
      cursor: pointer;
    }
    .sb2-ul a{
      width: 100%;
      padding: 1em 0;
    }
    .sb2-ul a:hover{
      background: #4a5ba8;
    }
    .sb2-ul-open{
        display: flex;
        flex-direction: column; ;
    }
}